<ion-header>
    <ion-toolbar [color]="encabezado_base">


    </ion-toolbar>
</ion-header>

<ion-content [color]="fondo_base" class="ion-no-padding">



    <ion-grid fixed>
        <ion-card color="encabezado">
            <ion-card-title class="ion-padding">
                <b>
                    <FONT  SIZE="5" [class]="fuente_base">
                        Elige una tarjeta
                     </FONT>
                 </b></ion-card-title>
            <ion-img src="./assets/icon/genial_animado.gif"></ion-img>
        </ion-card>


        <ion-row>



            <ion-col class="ion-padding" size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">

                <ion-card routerLink="/view-without-to-reveal" color="primary" (click)="navegar('Azul')">

                    <ion-card-header>

                        <b>
                            <FONT  SIZE="5" [class]="fuente_base">
                                Azul
                             </FONT>
                         </b>
                    </ion-card-header>

                </ion-card>

                <ion-card routerLink="/view-target" color="warning" (click)="navegar('Amarillo')">

                    <ion-card-header>
                        <b>
                            <FONT  SIZE="5" [class]="fuente_base">
                                Amarilla
                             </FONT>
                         </b>
                    </ion-card-header>

                </ion-card>

                <ion-card routerLink="/view-target" color="success" (click)="navegar('Verde')">

                    <ion-card-header>
                        <b>
                            <FONT  SIZE="5" [class]="fuente_base">
                                Verde
                             </FONT>
                         </b>
                    </ion-card-header>

                </ion-card>

                <ion-card routerLink="/view-target" color="danger" (click)="navegar('Rojo')">

                    <ion-card-header>
                        <b>
                            <FONT  SIZE="5" [class]="fuente_base" >
                                Roja
                             </FONT>
                         </b>
                    </ion-card-header>

                </ion-card>






            </ion-col>

        </ion-row>
    </ion-grid>


</ion-content>

<ion-footer>
    <ion-toolbar [color]="encabezado_base">
    </ion-toolbar>
</ion-footer>