<app-header titulo="Acerca De"></app-header>

<ion-content padding [color]="fondo_base">
    <div>
        <h5 [class]="fuente_base"> Desarolladores:</h5>
        <ion-item *ngFor="let cp of componentes" class="ion-no-border" [color]="fondo_base" (click)="presentAlert(cp)" [class]="fuente_base" detail>{{cp.name}}
            <ion-avatar slot="start">
                <img src="{{cp.src}} ">
            </ion-avatar>
        </ion-item>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar [color]="encabezado_base">
    </ion-toolbar>
</ion-footer>