<ion-header>
    <ion-toolbar [color]="encabezado_base">
        <ion-title class="ion-text-center" [class]="fuente_base"> PIENSA EN QUITO</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [color]="fondo_base">

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">


        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>

        <ion-fab-list side="start">

            <ion-fab-button color="facebook">
                <ion-icon name="logo-facebook"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="whatsapp">
                <ion-icon name="logo-whatsapp"></ion-icon>
            </ion-fab-button>


        </ion-fab-list>




    </ion-fab>
    <ion-buttons>
        <ion-card *ngIf="mostrar_dado" (click)="onClick()" [color]="fondo_base" class="card">

            <ion-card-header>
                <h3 *ngIf="mostrar_texto" [class]="fuente_base">
                    PRESIONAME!!
                </h3>
            </ion-card-header>
            <ion-card-content>
                <ion-img [src]="src"></ion-img>
            </ion-card-content>
        </ion-card>
    </ion-buttons>

    <div>

        <ion-title [class]="fuente_base">Turno Equipo:</ion-title>
        <ion-title [class]="fuente_base">{{equipo}}</ion-title>
    </div>





</ion-content>


<ion-footer>

    <ion-toolbar [color]="encabezado_base">

        <ion-buttons>
            <ion-button *ngFor="let item of [1,1,1,1]"></ion-button>
            <ion-button (click)="presentAlert()">
                <ion-icon name="trophy-outline" slot="start"></ion-icon>
                <h4 [class]="fuente_base">
                    GANADOR !!!!
                </h4>
            </ion-button>


        </ion-buttons>


    </ion-toolbar>
</ion-footer>