<ion-header>
    <ion-toolbar color="primary">

    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-img src="./assets/icon/carita_feliz.gif"></ion-img>


    <h2>Suerte Amigos/as</h2>
    <h2>Hora de Jugar equipo: Leones</h2>


    <ion-card>
        <ion-item>
            <ion-icon name="pin" slot="start"></ion-icon>
            <ion-label>
                <h2>Opción Múltiple</h2>
            </ion-label>

        </ion-item>
        <ion-item>
            <ion-button (click)="presentAlert()" fill="outline" slot="end">Empezar</ion-button>



        </ion-item>

        <ion-card-content>
            ¿Donde está el panecillo?
        </ion-card-content>
    </ion-card>





</ion-content>