<ion-header>
    <ion-toolbar color="encabezado">


    </ion-toolbar>
</ion-header>

<ion-content color="fondo" class="ion-padding">

    <ion-img src="./assets/icon/carita_feliz.gif" style="width: 60%; display:block;
    margin:auto"></ion-img>

    <ion-card>
        <ion-item lines="none">
            <ion-icon name="game-controller" slot="start"></ion-icon>
            <ion-label>
                <h2>Actuación</h2>
            </ion-label>
            <ion-label>
                <h2>Equipo: Leones</h2>
            </ion-label>

        </ion-item>
        <ion-item lines="none">

            <ion-button (click)="presentAlert()" shape="round" fill="outline" slot="start">Empezar</ion-button>



        </ion-item>

        <ion-card-content>
            Adivina la Palabra
        </ion-card-content>
        <ion-card-content> llocilloPa </ion-card-content>

        <ion-card-content> Respuesta: Panecillo </ion-card-content>

    </ion-card>





</ion-content>

<ion-footer>
    <ion-toolbar color="encabezado">
    </ion-toolbar>
</ion-footer>