<ion-header>
    <ion-toolbar [color]="encabezado_base">


    </ion-toolbar>
</ion-header>

<ion-content [color]="fondo_base" class="ion-padding">

    <h1 style="text-align:right" [class]="fuente_base">{{time | async}}</h1>

    <ion-img src="./assets/icon/carita_feliz.gif" style="width: 60%; display:block;
    margin:auto"></ion-img>

    <ion-card>
        <ion-item lines="none">
            <ion-icon name="game-controller" slot="start"></ion-icon>
            <ion-label>
                <h2 [class]="fuente_base">Actuación</h2>
            </ion-label>
            <ion-label>
                <h2 [class]="fuente_base">Equipo: Leones</h2>
            </ion-label>

        </ion-item>
        <ion-item lines="none">

            <ion-button *ngIf="state === 'stop'" (click)="startTimer(1)" shape="round" fill="outline" slot="start">Empezar</ion-button>
            <ion-button *ngIf="state === 'start'" (click)="stopTimer()" shape="round" fill="outline" slot="start">Detener</ion-button>



        </ion-item>

        <ion-card-content [class]="fuente_base">
            Adivina la Palabra
        </ion-card-content>
        <ion-card-content [class]="fuente_base"> llocilloPa </ion-card-content>

        <ion-card-content [class]="fuente_base"> Respuesta: Panecillo </ion-card-content>

    </ion-card>





</ion-content>

<ion-footer>
    <ion-toolbar [color]="encabezado_base">
    </ion-toolbar>
</ion-footer>