<app-header titulo="Objetivo"></app-header>

<ion-content [color]="fondo_base">
    <ion-img src="./assets/icon/c1.jpg"></ion-img>
    <ion-card [color]="fondo_base">
        <h6>
            <p align="justify" [class]="fuente_base">El objetivo de crear la aplicación con la temática de Quito es saber que tanto los jugadores conocen acerca de la ciudad de Quito, y mediante este juego tambien los jugadores podrán adquirir conocimientos sobre cosas que no sabian.</p>
        </h6>

    </ion-card>
</ion-content>

<ion-footer>
    <ion-toolbar [color]="encabezado_base">
    </ion-toolbar>
</ion-footer>