<app-header titulo="Temporizador"></app-header>

<ion-content [color]="fondo_base">
    <div style="margin: 0 auto;">
        <ion-tab-button>
            <ion-img src="./assets/icon/t1.jpg" style="width: 70%;"></ion-img>
        </ion-tab-button>
    </div>
    <ion-item [color]="fondo_base">
        <p [class]="fuente_base" align="justify">El tiempo que elija para cambiar el temporizador se encuentra en segundos:</p>
    </ion-item>
    <ion-item [color]="fondo_base">
        <ion-range (ionChange)="cambioRango($event)" min="1" max="240" pin="true" color="dark">
            <ion-label slot="start">1</ion-label>
            <ion-label slot="end">240</ion-label>
        </ion-range>
    </ion-item>
</ion-content>

<ion-footer>
    <ion-toolbar [color]="encabezado_base">
    </ion-toolbar>
</ion-footer>