<app-header titulo="Equipos"></app-header>
<ion-content [color]="fondo_base" class="ion-padding">

    <form (ngSubmit)="registroDatos()">
        <div style="margin: 0 auto;">
            <ion-tab-button>

                <ion-img src="./assets/icon/equipos2.png" style="width: 70%;"></ion-img>
            </ion-tab-button>
        </div>
        <br/>
        <ion-item [color]="fondo_base">
            <ion-label position='floating' [class]="fuente_base">Ingrese el nombre del Equipo 1:</ion-label>
            <ion-input type='text' [(ngModel)]="informacion.equipo1" name="nombres"></ion-input>
        </ion-item>
        <ion-item [color]="fondo_base">
            <ion-label position='floating' [class]="fuente_base">Ingrese el nombre del Equipo 2:</ion-label>
            <ion-input type='text' [(ngModel)]="informacion.equipo2" name="cedula"></ion-input>
        </ion-item>

        <br/>
        <ion-button routerLink="/juego-principal" color="primary" shape="block" type="submit" [class]="fuente_base">Aceptar</ion-button>

    </form>

</ion-content>

<ion-footer>
    <ion-toolbar [color]="encabezado_base">
    </ion-toolbar>
</ion-footer>