<ion-header>
    <app-header titulo="Panel de administrador"></app-header>

</ion-header>

<ion-header>

    <ion-toolbar [color]="fondo_base">
        <ion-title [class]="fuente_base">Insertar una card</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content [color]="fondo_base" class="ion-padding">
    <ion-card>
        <ion-img src="./assets/icon/targetas.png"></ion-img>
    </ion-card>



    <ion-item [color]="fondo_base">
        <ion-label [class]="fuente_base">Seleccionar Card</ion-label>

        <ion-select [(ngModel)]="data.card" interface="popover" #C (ionChange)="onChange(C.value)" [class]="fuente_base">

            <ion-select-option value="Rojo">Rojo </ion-select-option>
            <ion-select-option value="Verde">Verde</ion-select-option>
            <ion-select-option value="Azul">Azul</ion-select-option>
            <ion-select-option value="Amarillo">Amarillo</ion-select-option>

        </ion-select>
        <ion-item *ngIf="rojo" color="danger">


        </ion-item>
        <ion-item *ngIf="verde" color="success">


        </ion-item>
        <ion-item *ngIf="amarillo" color="warning ">


        </ion-item>


        <ion-item *ngIf="azul" color="primary">


        </ion-item>
    </ion-item>




    <ion-item [color]="fondo_base">

        <ion-input disabled="true" type="text" [(ngModel)]="data.descripcion" required></ion-input>
    </ion-item>

    <ion-item [color]="fondo_base">
        <ion-label position="floating" [class]="fuente_base">Pregunta</ion-label>
        <ion-input type="text" [(ngModel)]="data.pregunta"></ion-input>
    </ion-item>



    <ion-item [color]="fondo_base">
        <ion-label position="floating" [class]="fuente_base">Pista</ion-label>
        <ion-input type="text" name="pista" [(ngModel)]="data.pista"></ion-input>
    </ion-item>

    <ion-item [color]="fondo_base">
        <ion-label position="floating" [class]="fuente_base">Respuesta</ion-label>
        <ion-input type="text" name="respuesta" [(ngModel)]="data.respuesta"></ion-input>
    </ion-item>


    <ion-button expand="full" shape="round" (click)="guardar()" [class]="fuente_base">
        Guardar
    </ion-button>

    <ion-item style="text-align:center;">
        <ion-label>
            <FONT SIZE="5" [class]="fuente_base">
                Tarjetas precargadas
            </FONT>
        </ion-label>

    </ion-item>




    <ion-list>




        <ion-card ion-item *ngFor="let imagen of allcards">
            <ion-card-header color={{imagen.color}}>
                <ion-card-title>Tarjeta {{imagen.card}} </ion-card-title>
            </ion-card-header>


            <ion-card-header>
                <ion-toolbar>

                    <ion-card-subtitle>{{imagen.descripcion}}</ion-card-subtitle>
                    <ion-buttons slot="primary">
                        <ion-button color="secondary">
                            <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-toolbar>


                <ion-card-subtitle>{{imagen.pregunta}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                {{imagen.pista}} {{imagen.respuesta}}


            </ion-card-content>


        </ion-card>



    </ion-list>


</ion-content>
<ion-footer>
    <ion-toolbar [color]="encabezado_base">
    </ion-toolbar>
</ion-footer>