<app-header titulo="Bienvenido al juego"></app-header>

<ion-content [fullscreen]="true" class="background" (click)="accion1()" >


    <div id="container">

        <ion-button shape="round" color="encabezado " [routerLink]="[ '/equipos'] "> Iniciar partida </ion-button>

    </div>

<ion-item  *ngIf="ocultar1"  color="fondo ">
  <ion-button expand="full"  shape="round" [routerLink]="[ '/administrador']"> Admin </ion-button>
</ion-item>

</ion-content>
<ion-footer >
  <ion-toolbar color="encabezado" >  Copyright (©)

    </ion-toolbar>


</ion-footer>