<app-header titulo="Estilos"></app-header>

<ion-content [color]="fondo_base">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-img src="./assets/icon/j1.jpeg"></ion-img>
                <ion-label>Fácil</ion-label>
                <ion-toggle slot="start" name="blueberry" checked></ion-toggle>
            </ion-col>
            <ion-col>
                <ion-img src="./assets/icon/j2.jpg"></ion-img>
                <ion-label>Dificil</ion-label>
                <ion-toggle slot="start" name="blueberry" checked></ion-toggle>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-toolbar [color]="encabezado_base">
    </ion-toolbar>
</ion-footer>