<ion-header>
    <ion-toolbar color="primary">

    </ion-toolbar>
</ion-header>

<ion-content>


    <ion-list>

        <ion-label>¿Donde está el Panecillo?</ion-label>
        <ion-item>

            <ion-select placeholder="Respuesta">
                <ion-select-option value="h">En el centro histórico</ion-select-option>
                <ion-select-option value="s">En el sur de Quito</ion-select-option>
                <ion-select-option value="n">En el norte de Quito</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>


</ion-content>